ollama_thought_weaver/node_modules/
ollama_overdrive/node_modules
node_modules
ollama_overdrive/node_modules
node_modules
ollama_monolith/node_modules
test_env/
venv/
env/
__pycache__/
.env

genesis_chamber/inbox/*
!genesis_chamber/inbox/.gitkeep
genesis_chamber/outbox/*
!genesis_chamber/outbox/.gitkeep
api_forge/app.log
app.log

phantom_coder/test_env/
phantom_coder/venv/
phantom_coder/__pycache__/
data_alchemist/cauldron/*
!data_alchemist/cauldron/.gitkeep
data_alchemist/vault/*
!data_alchemist/vault/.gitkeep
data_alchemist/grimoire/*
!data_alchemist/grimoire/.gitkeep
code_colosseum/arena/
code_colosseum/__pycache__/
code_colosseum/battles/
